.content {
    
}
.username-form {
    display: flex;
    flex-direction: column;
    gap:2rem;
} 
.input-field {
    border: none;
    border-bottom: 2px solid black;
    margin: 0 auto;
    text-align: center;
}
.input-field:focus {
    outline:none;
}

